
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture Firm</title>
    <script src="https://kit.fontawesome.com/40b4b79559.js" crossorigin="anonymous"></script>
</head>

<body>
  <img class="background-image" src="./assets/Images/archoOut.jpg">

    <div>
    <section class="ComapanyTitle">
      <h1>designSPACE</h1>
    </section>
    </div>

    <div class="welcome-section">
      <section class="note">
        <h1>Welcome to Our Architecture Firm</h1>
        <p>We are thrilled to have you as our valued client.<br> <span>Our team is dedicated to bringing your vision to life through innovative and timeless architectural designs.</span></p>
        <br>
      </section>
      <section class="button">
        <!-- <button class="button1" routerLink="/create-user">Create User</button> -->
        <button class="button1" (click)="navigateToCreateUser()">Create User</button>
        <!-- <input class="button1" type="button" onclick="location.href=' ';" value="Create User" /> -->
        <br>
        <!-- <button class="button2" routerLink="/create-user">Create a Meeting Schedule</button> -->
        <button class="button2" (click)="navigateToCreateMeeting()">Create a Meeting Schedule</button>
        <!-- <input class="button2" type="button" onclick="location.href=' ';" value="Create a Meeting Schedule" /> -->
      </section>
      <br><br><br>
    </div>
</body>

</html>




