<body>
    <img src="./assets/Images/ex.jpg">
    <main>
      <h1 class="title">Create a Meeting Schedule</h1>
      <form>
        <label for="meetingTitle">Meeting Title:</label>
        <input type="text" id="meetingTitle" name="meetingTitle" required>
  
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
  
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
  
        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
  
        <button type="submit" (click)="meetingFunc(); navigateToWelcomePage()">Schedule Meeting</button>
      </form>
      <button class="button1" (click)="navigateToWelcomePage()">GO Back</button>
    </main>
  </body>
